.container {

}


.big-new {
    width: 60%;

}

.middle-news{
    width: 20%;
}

.middle-new1 {


}

.middle-new2 {

}


.popular-news {
    width: 20%;
    
}




.popular-news1 {


}

.popular-news2 {


}

.popular-news3 {


}

.popular-news4 {

    
}

.popular-news5 {

}